.characters {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-gap: 5rem;
    padding: 5rem;
    background-color: var(--light-blue-lm);
}

.characters.darkMode {
    background-color: var(--clear-blue-dm);
}
