:root {
    /*Colors*/
    --accent-blue: #1a9af7;
    --green-light: #b9efa4;
    --green-blue: #1cdecb;

    --dark-blue-dm: #102a43;
    --medium-blue-dm: #243b53;
    --soft-blue-dm: #334e68;
    --light-blue-dm: #486581;
    --clear-blue-dm: #627d98;

    --dark-blue-lm: #829ab1;
    --medium-blue-lm: #9fb3c8;
    --soft-blue-lm: #bcccdc;
    --light-blue-lm: #d9e2ec;
    --clear-blue-lm: #f0f4f8;

    --black-shadow: #59491e29;
    --shadow-white: #faf8f738;

    --error-lm: #e28797;
    --error-dm: #af4256;

    /* Fonts */
    --title-font: 'Bebas Neue', cursive;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    /* font-family: 'Bebas Neue', cursive; */
    font-family: "Montserrat", sans-serif;
}
