
:root {
  /*Colores*/
  --accent-blue: #1A9AF7;
  --green-light: #B9EFA4;
  --green-blue: #1CDECB;

  --dark-blue-dm: #102a43;
  --medium-blue-dm: #243b53;
  --soft-blue-dm: #334e68;
  --light-blue-dm: #486581;
  --clear-blue-dm:  #627D98;

  --dark-blue-lm: #829ab1;
  --medium-blue-lm: #9fb3c8;
  --soft-blue-lm: #bcccdc;
  --light-blue-lm: #d9e2ec;
  --clear-blue-lm:  #f0f4f8;


  --black-shadow: #59491e29;
  --shadow-white: #faf8f738;
}

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

html {
  font-size: 62.5%;
  /* font-family: 'Bebas Neue', cursive; */
  font-family: 'Montserrat', sans-serif;
}
